<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=upload" />
    <title>Về chúng tôi - CV Compass</title>
</head>
<body style="background-color: #F6FCFF;">
    <!--Bắt đầu phần header-->
    <div class="header">
        <div class="header-logo">
            <img src="static/images/Screenshot 2025-08-25 150046.png" alt="Logo CV Compass">
        </div>
        <div class="header-menu"> <!-- Menu lựa chọn -->
            <ul>
                <li><a href="/home">Trang chủ</a></li>
                <li><a href="/about-us">Về chúng tôi</a></li>
                <li><a href="/home">Tìm việc làm</a></li>
                <li><a href="/login">Quét CV bằng OCR</a></li>
                <li><a href="/pricing">Gói dịch vụ</a></li>
            </ul>
        </div>
        <div class="header-actions">
            <button onclick="location.href='/login'" class="btn btn-login">Đăng nhập</button>
            <button onclick="location.href='/signup'" class="btn btn-register">Đăng ký</button>
        </div>
        <div class="header-nhatuyendung">
           <p class="cau_hoi">Bạn là nhà tuyển dụng?</p>
           <p><a href="/business-home" target='_blank'>Đăng tin ngay</a></p>
        </div>
    </div> <!-- kết thúc phần header -->
    <div class="introduction"> <!-- Bắt đầu phần tựa đề -->
        <div class="background_intro">
            <!-- <img src="../img_bgr.png" alt="Introduction Image"> -->
        </div>
        <div class="content-introduction">
            <div class="title_content">
                <h1 style="font-size: 2.5rem; font-weight: bold; color: #3674B5">Về chúng tôi - CV Compass</h1>
            </div>
        </div>
    </div> <!-- kết thúc phần tựa đề -->

    <div class="introduction-part-aboutus"> <!-- Bắt đầu phần giới thiệu về chúng tôi -->
        <div class="content-intro-aboutus">
            <p><span class="intro-title">CV Compass</span> là dự án khởi nghiệp phát triển bởi nhóm sinh viên yêu thích công nghệ và nhân sự, với mong muốn giúp người tìm việc - đặc biệt là <i>sinh viên</i> và <i>người mới ra trường</i> - hiểu rõ và cải thiện CV của mình một cách dễ dàng, chính xác và nhanh chóng.</p>
            <p>Chúng tôi ứng dụng công nghệ <i><strong>OCR (Nhận diện ký tự quang học) kết hợp với Mô hình ngôn ngữ lớn (LLM)</strong></i> để quét, trích xuất và phân tích nội dung CV, đồng thời so sánh trực tiếp với Mô tả công việc (JD) từ nhà tuyển dụng.</p>
            <button class="btn btn-upload-cv">Bắt đầu ngay →</button>
        </div>
        <img style="max-width: 50%; height: auto;" src="/static/images/illustrate-image-aboutus.png" alt="Illustration image">
    </div> <!--Kết thúc phần giới thiệu về chúng tôi-->

    <div class="our-mission-and-vision"> <!--Bắt đầu phần sứ mệnh và tầm nhìn-->
    <div class="mission">
        <div class="mission-image">
            <img src="/static/images/mission.png" alt="Mission Image">
        </div>
        <div class="mission-text">
            <h2>Sứ mệnh</h2>
            <p>Giúp ứng viên - đặc biệt là sinh viên - nhìn thấy điểm mạnh, điểm yếu trong CV, 
               từ đó nâng cao khả năng tiếp cận công việc phù hợp bằng công cụ phân tích hiện đại và dễ sử dụng.</p>
        </div>
    </div>

    <div class="vision">
        <div class="vision-image">
            <img src="static/images/vision.png" alt="Vision Image">
        </div>
        <div class="vision-text">
            <h2>Tầm nhìn</h2>
            <p>Trở thành một nền tảng đáng tin cậy dành cho sinh viên và người mới đi làm khi muốn chuẩn bị một CV chỉn chu, nổi bật và phù hợp với từng vị trí tuyển dụng.</p>
        </div>
    </div>
</div> <!--Kết thúc phần sứ mệnh và tầm nhìn-->

    <h1 style="transform: translateY(-300px);" class="features_title">Tính năng nổi bật</h1>
    <div style="transform: translateY(-300px);" class="features_block"> <!--Bắt đầu phần tính năng nổi bật-->
        <div class="features_list">
            <div class="feature_item">
                <img style="width: 100px; height: 100px;" class="feature_icon" src="static/images/features_image/OCR_image.png" alt="Feature 1">
                <h3 class="feature_title">OCR - Quét nội dung từ CV ảnh/PDF</h3>
            </div>
            <div class="feature_item">
                <img style="width: 100px; height: 100px;" class="feature_icon" src="static/images/features_image/LLM_image.png" alt="Feature 2">
                <h3 class="feature_title">LLM - Phân tích ngữ nghĩa, ngữ cảnh</h3>
            </div>
            <div class="feature_item">
                <img style="width: 100px; height: 100px;" class="feature_icon" src="static/images/features_image/cv_comparison.png" alt="Feature 3">
                <h3 class="feature_title">So sánh CV - JD để đánh giá mức độ phù hợp</h3>
            </div>
            <div class="feature_item">
                <img style="width: 100px; height: 100px;" class="feature_icon" src="static/images/features_image/advicer.png" alt="Feature 4">
                <h3 class="feature_title">Tư vấn cải thiện - Gợi ý chỉnh CV dễ hiểu</h3>
            </div>
            </div> <!-- kết thúc features_list -->
        </div> <!-- kết thúc phần tính năng nổi bật-->

        <div class="info-block blue">
            <h2>Cam kết từ CV compass</h2>
            <br>
            <ul>
                <li>✔ Đảm bảo bảo mật tuyệt đối thông tin ứng viên</li>
                <li>✔ Hỗ trợ tối ưu CV nhanh chóng và chính xác</li>
                <li>✔ Luôn cập nhật công nghệ mới nhất để phục vụ người dùng tốt hơn</li>
            </ul>
        </div>

    <footer class="footer">
        <div class="footer-contact">
            <div class="footer-contact-item">
                <i class="fa fa-phone"></i>
                <span>0123456789</span>
    </div>
    <div class="footer-contact-item">
      <i class="fa fa-envelope"></i>
      <span>hexacode@gmail.com</span>
    </div>
  </div>
  <div class="footer-logo">
    <img src="static/images/hexacode_logo.png" alt="Hexacode Logo" class="footer-logo-img">
    <div class="footer-logo-text">HEXACODE</div>
  </div>
  <div class="footer-links">
    <div class="footer-links-group">
      <div class="footer-links-title">Overview</div>
      <a href="#">App</a>
    </div>
    <div class="footer-links-group">
      <div class="footer-links-title">Company</div>
      <a href="#">Home</a>
      <a href="#">About us</a>
      <a href="#">Pricing</a>
    </div>
    <div class="footer-links-group">
      <div class="footer-links-title">Follow us</div>
      <a href="#"><i class="fa fa-facebook"></i> CVCompass</a>
      <a href="#"><i class="fa fa-tiktok"></i> CVCompass</a>
    </div>
  </div>
</footer> 
</body>