<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=upload" />
    <title>Home - CV Compass</title>
</head>
<body>
    <div class="card">
      <h2>Thanh toán thất bại</h2>
      <h3>Rất tiếc, giao dịch của bạn đã không thành công.</h3>
      <button class="btn" onclick="window.location.href='/'">Quay lại trang chủ</button>
    </div>
</body>