<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="/static/css/home-business.css">
    <script src="/static/js/theme.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=upload" />
    <title>Trang chủ (Doanh nghiệp) - CV Compass</title>
</head>
<body style="background-color: #F6FCFF">
    <!--Bắt đầu phần header-->
    <div class="header">
        <div class="logo-container">
            <div class="logo-image">
              <img src="/static/images/Logo_Final2.png" alt="Logo CV Compass">
            </div>
            <div class="logo-text">CV Compass</div>
            <div class="logo-slogan">Smart Insight - Right Choice - Bright Future</div>
        </div>
        <div class="header-menu"> <!-- Menu lựa chọn -->
            <ul>
                <li><a href="/business-home">Trang chủ</a></li>
                <li><a href="/login">Quản lý JD</a></li>
                <li><a href="/login">Dịch vụ</a></li>
            </ul>
        </div>
        <div class="header-actions">
            <button onclick="location.href='/login'" class="btn btn-login">Đăng nhập</button>
            <button class="btn btn-register">Đăng tin ngay</button>
        </div>  
    </div> <!-- kết thúc phần header -->
    <!--Bắt đầu phần introduction-->
    <div class="introduction">
        <div class="background_intro">
            <!-- <img src="../img_bgr.png" alt="Introduction Image"> -->
        </div>
        <div class="content-introduction">
            <div class="title_content">
                <h1>Tuyển dụng thông minh với công nghệ AI - OCR & LLM</h1>
            </div>
            <div class="description_content">
                <h3>
                    <ul>
                        <li>Đọc và hiểu CV từ nhiều định dạng khác nhau.</li>
                        <li>Phân tích điểm mạnh, điểm yếu của từng ứng viên bằng trí tuệ nhân tạo.</li>
                        <li>Xếp hạng ứng viên theo mức độ phù hợp với vị trí tuyển dụng.</li>
                        <li>Gợi ý hành động tuyển dụng: mời phỏng vấn, loại, lưu hồ sơ.</li>
                    </ul>
                </h3>
            </div>
            <div class="two_button_actions">
                <button>Dùng thử miễn phí</button>
                <button>Dùng thử ngay</button>
            </div>
            <div class="image-demonstrate">
                <img style="max-width: 50%; height: auto;" src="../static/images/first-business-image.png" alt="Demo Image">
            </div>
        </div>
    </div> <!-- kết thúc phần introduction -->
    <div class="dang-tin-ngay"> <!-- Bắt đầu phần đăng tin tuyển dụng -->
        <img style="max-width: 50%; height: auto;" src="../static/images/dang-tin-ngay.png" alt="Post Ad">
        <div class="title-content">
            <h1>Đăng tin tuyển dụng</h1>
        </div>
        <div class="description-content">
            <ul>
                <li>Cho phép nhà tuyển dụng đăng tin tuyển dụng miễn phí</li>
                <li>Tiếp cận được nguồn ứng viên chất lượng</li>
                <li>Kiểm duyệt dễ dàng, nhanh chóng</li>
            </ul>
        </div>
    </div> <!-- kết thúc phần đăng tin tuyển dụng -->
    <div class="chonloc">
        <div class="chonloc-header">
            <h1>Chọn lọc danh sách ứng tuyển</h1>
        </div>
        <div class="chonloc-content">
            <ul>
                <li>Sử dụng công nghệ OCR & LLM để lọc danh sách ứng viên tốt nhất</li>
                <li>Xem được điểm mạnh - điểm yếu từng CV</li>
                <li>Giảm bớt thời gian đọc CV của nhà tuyển dụng</li>
            </ul>
        </div>
        <img style="max-width: 50%; height: auto;" src="../static/images/chon-loc.png" alt="Chọn Lọc">
    </div>
    <div class="manage-recruit-content"> <!-- Bắt đầu phần quản lý tuyển dụng -->
        <img style="max-width: 50%; height: auto;" src="../static/images/manage-recruit.png" alt="Manage Recruitment">
        <div class="manage-content-header">
            <h1>Quản lý tuyển dụng</h1>
        </div>
        <div class="manage-content-list"> 
            <ul>
                <li>Quản lý được số lượng bài đăng theo từng vị trí tuyển dụng</li>
                <li>Quản lý số lượng đơn ứng tuyển</li>
                <li>Quản lý số lượng đơn ứng tuyển đi đến vòng phỏng vấn.</li>
            </ul>
        </div>
    </div> <!-- kết thúc phần quản lý tuyển dụng -->
    <h1 class="features_title">Tính năng nổi bật</h1>
    <div class="features_block"> <!--Bắt đầu phần tính năng nổi bật-->
        <div class="features_list">
            <div class="feature_item">
                <img style="width: 100px; height: 100px;" class="feature_icon" src="/static/images/features_image_business/feature-b1.png" alt="Feature 1">
                <h3 class="feature_title">Đăng tin tuyển dụng</h3>
            </div>
            <div class="feature_item">
                <img style="width: 100px; height: 100px;" class="feature_icon" src="/static/images/features_image_business/feature-b2.png" alt="Feature 2">
                <h3 class="feature_title">Quản lý JD</h3>
            </div>
            <div class="feature_item">
                <img style="width: 100px; height: 100px;" class="feature_icon" src="/static/images/features_image_business/feature-b3.png" alt="Feature 3">
                <h3 class="feature_title">Tự động quét & lọc CV</h3>
            </div>
            <div class="feature_item">
                <img style="width: 100px; height: 100px;" class="feature_icon" src="/static/images/features_image_business/feature-b4.png" alt="Feature 4">
                <h3 class="feature_title">Phân tích CV thông minh</h3>
            </div>
        </div> <!-- kết thúc features_list -->
    </div> <!-- kết thúc phần tính năng nổi bật-->
    <footer class="footer">
        <div class="footer-contact">
            <div class="footer-contact-item">
                <i class="fa fa-phone"></i>
                <span>0123456789</span>
    </div>
    <div class="footer-contact-item">
      <i class="fa fa-envelope"></i>
      <span>hexacode@gmail.com</span>
    </div>
  </div>
  <div class="footer-logo">
    <img src="/static/images/hexacode_logo.png" alt="Hexacode Logo" class="footer-logo-img">
    <div class="footer-logo-text">HEXACODE</div>
  </div>
  <div class="footer-links">
    <div class="footer-links-group">
      <div class="footer-links-title">Overview</div>
      <a href="#">App</a>
    </div>
    <div class="footer-links-group">
      <div class="footer-links-title">Company</div>
      <a href="home.html">Home</a>
      <a href="about-us.html">About us</a>
      <a href="#">Pricing</a>
    </div>
    <div class="footer-links-group">
      <div class="footer-links-title">Follow us</div>
      <a href="#"><i class="fa fa-facebook"></i> CVCompass</a>
      <a href="#"><i class="fa fa-tiktok"></i> CVCompass</a>
    </div>
  </div>
</footer>  
</body>
</html>