<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=upload" />
    <title>Giá dịch vụ</title>
</head>
<body style="background-color: #F6FCFF;">
    <!--Bắt đầu phần header-->
    <div class="header">
        <div class="header-logo">
            <img src="/static/images/Screenshot 2025-08-25 150046.png" alt="Logo CV Compass">
        </div>
        <div class="header-menu"> <!-- Menu lựa chọn -->
            <ul>
                <li><a href="/home">Trang chủ</a></li>
                <li><a href="/aboutus">Về chúng tôi</a></li>
                <li><a href="/login">Tìm việc làm</a></li>
                <li><a href="/login">Quét CV bằng OCR</a></li>
                <li><a href="/pricing">Gói dịch vụ</a></li>
            </ul>
        </div>
        <div class="header-actions">
            <button onclick="location.href='/login'" class="btn btn-login">Đăng nhập</button>
            <button onclick="location.href='/signup'" class="btn btn-register">Đăng ký</button>
        </div>

        <div class="header-nhatuyendung">
           <p class="cau_hoi">Bạn là nhà tuyển dụng?</p>
           <p><a href="/business-home" target='_blank'>Đăng tin ngay</a></p>
        </div>
    </div> <!-- kết thúc phần header -->
    <div class="introduction"> <!-- Bắt đầu phần tựa đề -->
        <div class="background_intro">
            <!-- <img src="../img_bgr.png" alt="Introduction Image"> -->
        </div>
        <div class="content-introduction">
            <div class="title_content">
                <h1 style="font-size: 2.5rem; font-weight: bold; color: #3674B5">Gói dùng CV Compass 15 ngày</h1>
                <p style="font-size: 1.2rem; color: #555; transform: translateY(-5px);">Khám phá các gói Premium của CV Compass - giải pháp toàn diện giúp bạn tối ưu hóa CV, gây ấn tượng với nhà tuyển dụng và nhận hỗ trợ chuyên sâu mọi lúc mọi nơi</p>
            </div>
        </div>
    </div> <!-- kết thúc phần tựa đề -->

    <div class="card-pricing-container">
        <div class="card-pricing premium"> <!--Bắt đầu các gói dịch vụ-->
            <div class="card-header">Gói Premium</div>
            <div class="price">50.000 VNĐ/tháng</div>
            <div class="card-body">
                <ul>
                    <li>Nhận 5 xu mỗi ngày (reset hằng ngày)</li>
                    <li>Tự động cập nhật thông tin doanh nghiệp mỗi 2 ngày</li>
                    <li>Giới hạn bài đăng</li>
                </ul>
                <button class="buy-btn">Mua ngay</button>
            </div>
        </div>

        <div class="card-pricing xu">
            <div class="card-header">Gói theo xu</div>
            <div class="price">10.000 VNĐ/2 xu</div>
            <div class="card-body">
                <ul>
                    <li>Hiển thị top 10 doanh nghiệp (top 5 được làm mờ)</li>
                    <li>Dùng xu để mở khóa top 5 doanh nghiệp</li>
                    <li>Không tự động cập nhật thông tin doanh nghiệp</li>
                </ul>
                <button class="buy-btn">Mua ngay</button>
            </div>
        </div>
    </div> <!--Kết thúc các gói dịch vụ-->
        <footer class="footer">
        <div class="footer-contact">
            <div class="footer-contact-item">
                <i class="fa fa-phone"></i>
                <span>0123456789</span>
    </div>
    <div class="footer-contact-item">
      <i class="fa fa-envelope"></i>
      <span>hexacode@gmail.com</span>
    </div>
  </div>
  <div class="footer-logo">
    <img src="/static/images/hexacode_logo.png" alt="Hexacode Logo" class="footer-logo-img">
    <div class="footer-logo-text">HEXACODE</div>
  </div>
  <div class="footer-links">
    <div class="footer-links-group">
      <div class="footer-links-title">Overview</div>
      <a href="#">App</a>
    </div>
    <div class="footer-links-group">
      <div class="footer-links-title">Company</div>
      <a href="home_logged_in.html">Home</a>
      <a href="aboutus-logged-in.html">About us</a>
      <a href="pricing-user-loggedin.html">Pricing</a>
    </div>
    <div class="footer-links-group">
      <div class="footer-links-title">Follow us</div>
      <a href="#"><i class="fa fa-facebook"></i> CVCompass</a>
      <a href="#"><i class="fa fa-tiktok"></i> CVCompass</a>
    </div>
  </div>
</footer>
</body>